{% extends 'base/base.html' %} {% block content %}
<section class="py-5 asked">
  <div class="container">
    <!-- ---------------credit card related------- -->
    <h2 class="text-center">General questions/tips</h2>
    <div class="d-flex flex-wrap justify-content-between">
      <ul class="accordion-list p-0">
        <li class="mt-4 my-shadow">
          <div class="acc-head">
            <h3>About Us</h3>
            <div class="acc-icon">
              <i class="fas fa-plus"></i>
            </div>
          </div>
          <div class="answer">
            <p>
              Crediboo HK is part of /crediboo Group, which was founded in
              Singapore in 2019. We are a personal finance portal helping
              consumers compare credit cards, loans, insurance, online
              brokerages and mortgages. At Crediboo, we have made it our mission
              to empower everyone to make smarter financial decisions. Crediboo
              partners with banks, lending companies and insurance companies to
              offer exclusive welcome offers. Find out more on Crediboo now!
            </p>
          </div>
        </li>

        <li class="mt-4 my-shadow">
          <div class="acc-head">
            <h3>
              Does Crediboo offer extra rewards if I apply for
              loans/insurance/open brokerage account through its site?
            </h3>
            <div class="acc-icon">
              <i class="fas fa-plus"></i>
            </div>
          </div>
          <div class="answer">
            <p>
              Yes. Crediboo partners up with a wide range of banks, loan
              providers, insurance companies and brokerages, offering multiple
              exclusive limited time offers. You can earn extra rewards such as
              Apple Gift Card, Supermarket vouchers or even Macbook Pro by
              applying for specific products through Crediboo.
            </p>
          </div>
        </li>
      </ul>
    </div>
    <!-- ---------------credit card related------- -->
    <h2 class="text-center py-3 mb-0">Credit card related questions/tips</h2>
    <div class="d-flex flex-wrap justify-content-between">
      <ul class="accordion-list p-0">
        <li class="mt-4 my-shadow">
          <div class="acc-head">
            <h3>What Are the Easiest Credit Cards to Get Approved for?</h3>
            <div class="acc-icon">
              <i class="fas fa-plus"></i>
            </div>
          </div>
          <div class="answer">
            <p>
              <b>Low Income Requirement Credit Cards</b><br />
              Many credit cards specify a low minimum income and some cards such
              as
              <a href="#" class="text-decoration-none"
                >EarnMORE UnionPay Card</a
              >
              and
              <a href="#" class="text-decoration-none">WeWa UnionPay Card </a>do
              not specify a minimum income, which is ideal for housewives/
              freelancers or tertiary school students to apply. Submitting your
              proof of asset increases your chances of getting approved, but you
              may still get approved without it.
              <br />
              <b>No Annual Fee Credit Cards</b><br />
              A credit card with no annual fee helps cardholders save on card
              costs and maximise the rewards cardholders earn. Cardholders can
              enjoy no fees for life or within the promotional period depending
              on the type of cards you apply.
            </p>
          </div>
        </li>
        <li class="mt-4 my-shadow">
          <div class="acc-head">
            <h3>5 Types of Hong Kong Credit Cards</h3>
            <div class="acc-icon">
              <i class="fas fa-plus"></i>
            </div>
          </div>
          <div class="answer">
            <p>
              Hong Kong credit cards are from 5 major card issuers. Visa and
              Mastercard take up most of the market, followed by American
              Express, UnionPay, and JCB. Visa and Mastercard are card issuers
              with a long history and are accepted everywhere in the world. On
              the other hand, American Express can be used in 130+ countries.
            </p>
          </div>
        </li>

        <li class="mt-4 my-shadow">
          <div class="acc-head">
            <h3>Common Credit Card Fees?</h3>
            <div class="acc-icon">
              <i class="fas fa-plus"></i>
            </div>
          </div>
          <div class="answer">
            <p>
              Annual fees aren’t the only type of credit card charges you might
              be paying. Many of these other common fees will impact the
              benefits you earn, so be mindful of them and actively monitor your
              spend.

              <br /><b>Balance transfer fees</b><br />
              Charged when you move a balance from one card to another, usually
              3-4% of the amount.<br />

              <b>Late payment fees</b><br />
              If you don’t pay at least the minimum payment on your credit card
              payment due date, you may incur a late payment fee, usually
              $80-350 HKD.<br />

              <b>Foreign transaction fees</b><br />
              If you love to travel, be cautious of this fee whenever a purchase
              is made outside of Hong Kong, as it is typically between 3-4% of
              the purchase amount.
            </p>
          </div>
        </li>
        <li class="mt-4 my-shadow">
          <div class="acc-head">
            <h3>How to Choose the Best Credit Card for You in 3 Steps</h3>
            <div class="acc-icon">
              <i class="fas fa-plus"></i>
            </div>
          </div>
          <div class="answer">
            <p>
              There isn’t one credit card that is better than the rest. The best
              card for you depends on your lifestyle and regular spending
              habits. Here’s 3 ways to decide which card is best for you.<br />

              <b
                >Step 1:Identify the type of card that best fits your
                lifestyle</b
              ><br />

              Firstly, you want to make sure you are benefitting from the things
              that you spend the most money on. For example, if you spend the
              most on dining every month, it would make sense to get a card that
              maximizes the benefits you get from spending all that money eating
              out.<br />

              <b>Step 2:Understand your intentions</b><br />

              It’s important to think about how you intend on using your card
              benefits. Do you prefer immediate cash rebates? Or would you
              prefer to collect and redeem Asia miles? Understanding what types
              of benefits you’d like is a major factor in deciding which card
              would be better for you.<br />

              <b>Step 3:Consider the charges in the Terms and Conditions</b
              ><br />

              Dig deeper into the card details to find one with the best overall
              value. For example, what is the expiry date for point redemptions?
              What are the international and domestic transfer fees? What is the
              required spending before you qualify for the sign-up bonus? These
              are a few of the important questions to think through as you shop
              for your new card.
            </p>
          </div>
        </li>
      </ul>
    </div>
    <!-- ---------------loan-card related------- -->
    <h2 class="text-center py-3 mb-0">Loan related questions/tips</h2>
    <div class="d-flex flex-wrap justify-content-between">
      <ul class="accordion-list p-0">
        <li class="mt-4 my-shadow">
          <div class="acc-head">
            <h3>How fast can I get a personal loan in HK?</h3>
            <div class="acc-icon">
              <i class="fas fa-plus"></i>
            </div>
          </div>
          <div class="answer">
            <p>
              Some personal loans in HK offer instant approval, best for people
              looking for a quick loan. Simply select the Instant Approval
              filter on our page and you will find a list of quick loans!
            </p>
          </div>
        </li>
        <li class="mt-4 my-shadow">
          <div class="acc-head">
            <h3>Am I eligible for personal loan application?</h3>
            <div class="acc-icon">
              <i class="fas fa-plus"></i>
            </div>
          </div>
          <div class="answer">
            <p>
              If you’re above 18 and earning HK$5,000+/month, you’re welcomed to
              apply for loans. Simply bring your identity card, residential
              address proof, bank statement, and salary slip, and you’re good to
              go!
            </p>
          </div>
        </li>

        <li class="mt-4 my-shadow">
          <div class="acc-head">
            <h3>Can I apply for personal loan if I have a bad credit score?</h3>
            <div class="acc-icon">
              <i class="fas fa-plus"></i>
            </div>
          </div>
          <div class="answer">
            <p>
              There are personal loans available to people with a low credit
              score and they are mostly offered by Lending Companies. However,
              do keep in mind that the interest rates from these companies are
              usually higher than those from the banks. Popular money lenders in
              Hong Kong include Promise, WeLend, UA Finance, and AEON. Before
              borrowing from these companies, you can also check out our Guide
              on borrowing from Money Lenders.
            </p>
          </div>
        </li>
        <li class="mt-4 my-shadow">
          <div class="acc-head">
            <h3>How long can my personal loan repayment period be?</h3>
            <div class="acc-icon">
              <i class="fas fa-plus"></i>
            </div>
          </div>
          <div class="answer">
            <p>
              Normally, it’s 3 to 72 months. Banks and lenders will set you a
              fixed monthly repayment amount. The longer the repayment period,
              the lower the repayment amount, and the higher the interest rate.
            </p>
          </div>
        </li>
      </ul>
    </div>
    <!-- ---------------account-card related------- -->
    <h2 class="text-center py-3 mb-0">Account related questions/tips</h2>
    <div class="d-flex flex-wrap justify-content-between">
      <ul class="accordion-list p-0">
        <li class="mt-4 my-shadow">
          <div class="acc-head">
            <h3>What is time deposit and how does it work?</h3>
            <div class="acc-icon">
              <i class="fas fa-plus"></i>
            </div>
          </div>
          <div class="answer">
            <p>
              A time deposit is a bank account that gives you interest if you
              are committed to leaving your money in the account for a fixed
              term. The longer the time to maturity, the more interest payment
              will be.
            </p>
          </div>
        </li>
        <li class="mt-4 my-shadow">
          <div class="acc-head">
            <h3>Is it good to invest in time deposits?</h3>
            <div class="acc-icon">
              <i class="fas fa-plus"></i>
            </div>
          </div>
          <div class="answer">
            <p>
              Yes, it can be an effective saving vehicle as it gives depositors
              regular and guaranteed returns - suitable for investors who prefer
              low risks.
            </p>
          </div>
        </li>

        <li class="mt-4 my-shadow">
          <div class="acc-head">
            <h3>Can foreigners open bank accounts in HK?</h3>
            <div class="acc-icon">
              <i class="fas fa-plus"></i>
            </div>
          </div>
          <div class="answer">
            <p>Yes. Foreigners can open bank accounts in HK.</p>
          </div>
        </li>
        <li class="mt-4 my-shadow">
          <div class="acc-head">
            <h3>
              What is the average interest rate of savings accounts in HK?
            </h3>
            <div class="acc-icon">
              <i class="fas fa-plus"></i>
            </div>
          </div>
          <div class="answer">
            <p>
              The average interest rate of savings accounts in HK is 0.001%
              only. However, you can apply for a high interest savings account
              such as Citibank Plus Savings Account to earn as high as 4.8%
              interest.
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
{% endblock %}
