# Byte-compiled / optimized / DLL files
__pycache__/
migrations/*

# Django stuff:
*.log
db.sqlite3

# Environments
.env
.venv
env/
venv/
ENV/

#vs code
.vscode
.vscode/

# temporary
crediboo
crediboo.zip
crediboo-admin.zip
mockup/