<!DOCTYPE html>
<html lang="en">

  {% load static %}
  {% include 'layout/head.html' %}
<body>
  <!-- --------Google translator----- -->
  {% include 'layout/translate.html' %}
  <!-- =======================
              header 
    ========================= -->
  {% include 'layout/header.html' %}  
  <!-- =======================
          hero section 
    ========================= -->
  {% block hero_section %}
  {% endblock %}
  <!-- =======================
         card descriptions
    ========================= -->
  {% block content %}
  {% endblock %}
  <!-- =======================
         footer
    ========================= -->
  {% include 'layout/footer.html' %}
</body>

</html>