{% extends 'base/base.html' %}

{% load static %}
{% block hero_section %}
  <!-- Cards hero_section -->
  <div class="hero2-sec blue-bg py-4 ">
    <div class="hero px-4 px-md-0 position-relative ">
      <div class="container">
        <div class="d-flex flex-wrap align-items-center">
          <a href="{% url 'index' %}" class="text-dark me-3 text-decoration-none">Home</a>
          <a href="#" class="text-dark me-3 text-decoration-none" style="pointer-events:none">
            <i class="fas fa-chevron-right"></i>
          </a>
          <a href="./" class="text-dark me-3 text-decoration-none">{{Title}}</a>
        </div>
        <h3 class="text-dark mt-4">{{h3}}</h3>
        <p class="fs-6 text-dark">
          {{p|safe}}
        </p>
        {% if Title == "Loans" %}
        <!-- filters -->
        <div class="row flex-wrap m-0">
          <div class="col-xl-11">
            <div class="row flex-wrap">
              <div class="col-sm-6 col-md-3 col-lg-2 my-2 ps-0 pe-2">
                <div class="bg-white h-100 py-1 px-3">
                  <span class="text-secondary small">Loan Amount</span>
                  <div class="d-flex">
                    <span class="fs-6 text-secondary ">HK$</span>
                    <input type="text" placeholder="30,000" class="text-dark w-100 fs-6 py-0 border-0 ps-2">
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-3 col-lg-2 my-2 ps-0 pe-2">
                <div class="bg-white h-100 py-1 px-3">
                  <span class="text-secondary small">Loan Tenure</span>
                  <div>
                    <select name="" id="" class="text-dark fs-6 py-0 border-0 form-control bg-transparent p-0">
                      <option value="6 months">6 months</option>
                      <option value="12 months">12 months</option>
                      <option value="18 months">18 months</option>
                      <option value="24 months">24 months</option>
                      <option value="36 months">36 months</option>
                      <option value="48 months">48 months</option>
                      <option value="60 months">60 months</option>
                      <option value="72 months">72 months</option>
                      <option value="84 months">84 months</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-3 col-lg-2 my-2 ps-0 pe-2">
                <div class="bg-white h-100 py-1 px-3">
                  <span class="text-secondary small">Monthly Income</span>
                  <div class="d-flex">
                    <span class="fs-6 text-secondary ">HK$</span>
                    <input type="text" placeholder="20,000" class="text-dark w-100 fs-6 py-0 border-0 ps-2">
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-3 col-lg-2 my-2 ps-0 pe-2">
                <div class="bg-white h-100 py-1 px-3">
                  <span class="text-secondary small">Loan Type</span>
                  <div>
                    <select name="" id="" class="text-dark fs-6 py-0 border-0 form-control bg-transparent p-0">
                      <option value="All Personal Loan">All Personal Loan</option>
                      <option value="Banks Loan">Banks Loan</option>
                      <option value="Leading Companies">Leading Companies</option>
                      <option value="Tex Loans">Tex Loans</option>
                      <option value="Debit consolidation Loans">Debit consolidation Loans</option>
                      <option value="Virtual Banks Loan">Virtual Banks Loan</option>
                      <option value="Car Loan">Car Loan</option>
                      <option value="SME Loan">SME Loan</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-3 col-lg-2 my-2 ps-0 pe-2">
                <div class="h-100">
                  <button type="submit"
                    class="btn-bg w-100 h-100 d-flex justify-content-center align-items-center px-4 text-light fs-5 py-2">Search</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% else %}
        <div class="d-flex flex-wrap">
          {% for Hero in Heros %}
          {% if Hero.id <= MoreIndex %}
            {% if Hero.id < MoreIndex %} 
            <a href={{Hero.url}}
              class="rounded-pill text-dark text-decoration-none py-2 px-3 my-2 me-3 d-block fs-5 capitalize border border-1 border-dark active-card">
              {{Hero.category}}
            </a>
            {% else %}
            <div class="dropdown">
              <button type="button"
                class="btn dropdown-toggle rounded-pill text-dark text-decoration-none py-2 px-3 my-2 d-block fs-5 text-capitalize border border-1 border-dark"
                data-bs-toggle="dropdown">
                More
              </button>
              <ul class="dropdown-menu">
              {% endif %}
          {% elif Hero.id >= MoreIndex %}
            {%  if Hero.id > MoreIndex  %}
                <li><a class="dropdown-item text-dark" href={{Hero.url}}>{{Hero.category}}</a></li>
            {% else %}
              </ul>
            </div>
            {% endif %}
          {% endif %}
          {% endfor %}
        </div>
        {% endif %}
      </div>
    </div>
  </div>
  <!-- Loans hero_section -->


{% endblock %}
  <!-- =======================
         card descriptions
    ========================= -->
{% block content %}
  <section class="card-des pt-4 pb-5">
    <div class="container ">
      <div class="row">
        {% include 'layout/sidebar.html' %}
        {% block cards %}
        {% endblock %}
      </div>
    </div>
  </section>
  <!-- -----------------------
       table 
  ------------------------- -->
  {% block table %}
  {% endblock %}
{% endblock %}