{% extends 'card_base.html' %}

{% load static %}

{% block content %}
<section class="py-4" id="plaza-premium">
  <div class="container">
    <div class="">
      <h2 class="fs-2">Plaza Premium Lounges</h2>
      <div class="mt-3 row justify-content-center px-0 mt-5 border-bottom border-1 pb-4">
        <div class="col-8 col-sm-6 col-md-3 col-lg-2 d-flex flex-column align-items-center">
          <img src="{% static 'img/plaza-premium-lunge-card.webp' %}" class="w-100" alt="card-img">
          <a href="#"
            class="d-inline-block text-primary border border-1 text-decoration-none mt-3 mx-auto text-center border-primary rounded-pill px-3 py-2 small">
            <span class="me-2 more-con">More Details</span>
          </a>
        </div>
        <div class="col-md-9 col-lg-8 mt-4 mt-md-0">
          <div class="d-flex flex-wrap">
            <p class="bg-warning text-dark ex-small  me-2">
              crediboo exclusive
            </p>
            <p class="blue-bg text-dark ex-small ">
              Complimentary 4th night free at any hotel
            </p>
          </div>
          <h2 class="fs-5 text-capitalize text-dark">
            Citi Prestige Card
          </h2>
          <!-- -----------apply-------- -->
          <div class="d-flex flex-wrap align-items-start justify-content-between">
            <div class="col-8 col-md-9 col-xl-10">
              <div class="row">
                <div class="col-6 col-sm-4">
                  <h3 class="fs-5 mb-0 pb-0">HK$600,000</h3>
                  <p class="exx-sm">Minimum Income Requirements</p>
                </div>
                <div class="col-6 col-sm-4">
                  <h3 class="fs-5 mb-0 pb-0">HK$6 = 1 Mile</h3>
                  <p class="exx-sm">Miles Conversion (local spend)</p>
                </div>
                <div class="col-6 col-sm-4">
                  <h3 class="fs-5 mb-0 pb-0">HK$4 = 1 Mile</h3>
                  <p class="exx-sm">Miles Conversion (overseas spend)</p>
                </div>
              </div>
            </div>
            <div class="col-4 col-md-3 col-xl-2 d-flex justify-content-end">
              <button type="submit"
                class="my-btn d-inline-block text-light text-decoration-none fw-bold small text-capitalize btn-bg py-2 px-3 border-0">
                Apply Now
              </button>
            </div>
          </div>
          <!-- --------detail-box-------- -->
          <div class="mt-3 border-start border-warning border-3 card-det-box p-2">
            <div class="row align-items-center">
              <div class="col-md-9 col-lg-10">
                <p class="small">【❤️Mother’s Day x 520 Special | 50%Crediboo Store cashback❤️
                  Make your loved ones feel special - plus, EARN CASH BACK! Purchase any designated products via
                  Crediboo Store from 8
                  May to 20 May, you can earn up to 50% cash back by using a new Citi credit card (Limited quota,
                  first come, first
                  served!). Shop now and save big!
                  <br><br>
                  【Limited Time Offer】Register for designated Citi Credit Cards via Crediboo, upon a spending amount
                  of HK$1,000, you
                  can earn a HK$2,000 SHKP Malls Gift Card / [Newly Added!] HK$1,800 KKday Voucher/ HK$1,800 Apple
                  Gift Card/ HK$1,800
                  Supermarket Voucher!
                  <br><br>
                  【HK$300 Referral Rewards】Refer your friends to apply for designated Citi Credit Cards online and
                  activate the new
                  cards+ with a spending amount of HKD1,000, you can receive an extra HK$300 Supermarket Voucher for
                  every successful
                  referral.
                </p>
                <div class="d-flex">
                  <a class="text-primary exx-sm text-decoration-none me-3">Valid until 31 May 2023 </a>
                </div>
              </div>
              <div class="col-5 col-sm-4 col-md-3 col-lg-2 mt-4 mt-md-0">
                <img src="{% static 'img/card-det-img.webp' %}" alt="" class="w-100 rounded-circle">
              </div>
            </div>
          </div>
          <p class="mb-0 pb-0 mt-3 fs-6">Citi Prestige cardholders can enjoy free global airport lounge access in
            priority pass lounges worldwide and 70+ designated Plaza Premium Lounges worldwide.</p>
        </div>
      </div>
    </div>
</section>
<!-- =======================
       card descriptions
  ========================= -->
<section class="py-4" id="intercontinental_hotels">
  <div class="container">
    <div class="">
      <h2 class="fs-2">Best Credit Cards for InterContinental Hotels Group (IHG)</h2>
      <div class="mt-3 row justify-content-center px-0 mt-5 border-bottom border-1 pb-4">
        <div class="col-8 col-sm-6 col-md-3 col-lg-2 d-flex flex-column align-items-center">
          <img src="{% static 'img/plaza-premium-lunge-card.webp' %}" class="w-100" alt="card-img">
          <a href="#"
            class="d-inline-block text-primary border border-1 text-decoration-none mt-3 mx-auto text-center border-primary rounded-pill px-3 py-2 small">
            <span class="me-2 more-con">More Details</span>
          </a>
        </div>
        <div class="col-md-9 col-lg-8 mt-4 mt-md-0">
          <div class="d-flex flex-wrap">
            <p class="bg-warning text-dark ex-small  me-2">
              crediboo exclusive
            </p>
            <p class="blue-bg text-dark ex-small ">
              Complimentary 4th night free at any hotel
            </p>
          </div>
          <h2 class="fs-5 text-capitalize text-dark">
            The Platinum Card
          </h2>
          <!-- -----------apply-------- -->
          <div class="d-flex flex-wrap align-items-start justify-content-between">
            <div class="col-8 col-md-9 col-xl-10">
              <div class="row">
                <div class="col-6 col-sm-4">
                  <h3 class="fs-5 mb-0 pb-0">HK$600,000</h3>
                  <p class="exx-sm">Minimum Income Requirements</p>
                </div>
                <div class="col-6 col-sm-4">
                  <h3 class="fs-5 mb-0 pb-0">HK$6 = 1 Mile</h3>
                  <p class="exx-sm">Miles Conversion (local spend)</p>
                </div>
                <div class="col-6 col-sm-4">
                  <h3 class="fs-5 mb-0 pb-0">HK$4 = 1 Mile</h3>
                  <p class="exx-sm">Miles Conversion (overseas spend)</p>
                </div>
              </div>
            </div>
            <div class="col-4 col-md-3 col-xl-2 d-flex justify-content-end">
              <button type="submit"
                class="my-btn d-inline-block text-light text-decoration-none fw-bold small text-capitalize btn-bg py-2 px-3 border-0">
                Apply Now
              </button>
            </div>
          </div>
          <!-- --------detail-box-------- -->
          <div class="mt-3 border-start border-warning border-3 card-det-box p-2">
            <div class="row align-items-center">
              <div class="col-md-9 col-lg-10">
                <p class="small">❤️Mother’s Day x 520 Special | 50%Crediboo Store cashback❤️
                  Make your loved ones feel special - plus, EARN CASH BACK! Purchase any designated products via
                  Crediboo Store from 8 May to 20 May, you can earn up to 50% cash back by using a new Citi credit
                  card (Limited quota, first come, first served!). Shop now and save big!
                  <br><br>
                  Successfully apply The Platinum Card now to get extra HK$300 supermarket voucher / Apple Gift Card
                  from Crediboo & welcome offers and Platinum benefits valued up to HK$6,100 once spending at the
                  first time in the first 3 months. All new Global Dining Credit! Platinum Card members can enjoy up
                  to HK$2,000 annually and up to HK$800 statement credit at NET-A PORTER or MR PORTER. From now until
                  31 May 2023, you can enjoy extra HK$1,000 once spending the first time in the first 3 months and up
                  to 600,000 Membership Rewards points (which is equivalent to HK$2,000 cash vouchers/ to offset your
                  purchases OR 40,000 air miles).
                </p>
                <div class="d-flex">
                  <a class="text-primary exx-sm text-decoration-none me-3">Valid until 31 May 2023 </a>
                </div>
              </div>
              <div class="col-5 col-sm-4 col-md-3 col-lg-2 mt-4 mt-md-0">
                <img src="{% static 'img/card-det-img.webp' %}" alt="" class="w-100 rounded-circle">
              </div>
            </div>
          </div>
          <p class="mb-0 pb-0 mt-3 fs-6">Those who hold the Platinum card can enjoy unlimited access to the Centurion
            Lounge with up to 2 family and friends. In addition to unlimited access to the Centurion Lounge, holders
            of the Platinum card also get a free membership for Priority Pass, which offers free access to 1000+
            Priority Pass lounges worldwide.</p>
        </div>
      </div>
    </div>
</section>
<!-- =======================
       card descriptions
  ========================= -->
<section class="py-4" id="marriott_hotels">
  <div class="container">
    <div class="">
      <h2 class="fs-2">Best Credit Cards for Marriott Hotels</h2>
      <div class="mt-3 row justify-content-center px-0 mt-5 border-bottom border-1 pb-4">
        <div class="col-8 col-sm-6 col-md-3 col-lg-2 d-flex flex-column align-items-center">
          <img src="{% static 'img/plaza-premium-lunge-card.webp' %}" class="w-100" alt="card-img">
          <a href="#"
            class="d-inline-block text-primary border border-1 text-decoration-none mt-3 mx-auto text-center border-primary rounded-pill px-3 py-2 small">
            <span class="me-2 more-con">More Details</span>
          </a>
        </div>
        <div class="col-md-9 col-lg-8 mt-4 mt-md-0">
          <div class="d-flex flex-wrap">
            <p class="bg-warning text-dark ex-small  me-2">
              crediboo exclusive
            </p>
            <p class="blue-bg text-dark ex-small ">
              Complimentary 4th night free at any hotel
            </p>
          </div>
          <h2 class="fs-5 text-capitalize text-dark">
            Citi Prestige Card
          </h2>
          <!-- -----------apply-------- -->
          <div class="d-flex flex-wrap align-items-start justify-content-between">
            <div class="col-8 col-md-9 col-xl-10">
              <div class="row">
                <div class="col-6 col-sm-4">
                  <h3 class="fs-5 mb-0 pb-0">HK$600,000</h3>
                  <p class="exx-sm">Minimum Income Requirements</p>
                </div>
                <div class="col-6 col-sm-4">
                  <h3 class="fs-5 mb-0 pb-0">HK$6 = 1 Mile</h3>
                  <p class="exx-sm">Miles Conversion (local spend)</p>
                </div>
                <div class="col-6 col-sm-4">
                  <h3 class="fs-5 mb-0 pb-0">HK$4 = 1 Mile</h3>
                  <p class="exx-sm">Miles Conversion (overseas spend)</p>
                </div>
              </div>
            </div>
            <div class="col-4 col-md-3 col-xl-2 d-flex justify-content-end">
              <button type="submit"
                class="my-btn d-inline-block text-light text-decoration-none fw-bold small text-capitalize btn-bg py-2 px-3 border-0">
                Apply Now
              </button>
            </div>
          </div>
          <!-- --------detail-box-------- -->
          <div class="mt-3 border-start border-warning border-3 card-det-box p-2">
            <div class="row align-items-center">
              <div class="col-md-9 col-lg-10">
                <p class="small">❤️Mother’s Day x 520 Special | 50%Crediboo Store cashback❤️
                  Make your loved ones feel special - plus, EARN CASH BACK! Purchase any designated products via
                  Crediboo Store from 8 May to 20 May, you can earn up to 50% cash back by using a new Citi credit
                  card (Limited quota, first come, first served!). Shop now and save big!
                  <br><br>
                  【Limited Time Offer】Register for designated Citi Credit Cards via Crediboo, upon a spending amount
                  of HK$1,000, you can earn a HK$2,000 SHKP Malls Gift Card / [Newly Added!] HK$1,800 KKday Voucher/
                  HK$1,800 Apple Gift Card/ HK$1,800 Supermarket Voucher!
                  <br><br>
                  【HK$300 Referral Rewards】Refer your friends to apply for designated Citi Credit Cards online and
                  activate the new cards+ with a spending amount of HKD1,000, you can receive an extra HK$300
                  Supermarket Voucher for every successful referral.
                </p>
                <div class="d-flex">
                  <a class="text-primary exx-sm text-decoration-none me-3">Valid until 31 May 2023 </a>
                </div>
              </div>
              <div class="col-5 col-sm-4 col-md-3 col-lg-2 mt-4 mt-md-0">
                <img src="{% static 'img/card-det-img.webp' %}" alt="" class="w-100 rounded-circle">
              </div>
            </div>
          </div>
          <p class="mb-0 pb-0 mt-3 fs-6">Those who hold the Platinum card can enjoy unlimited access to the Centurion
            Lounge with up to 2 family and friends. In addition to unlimited access to the Centurion Lounge, holders
            of the Platinum card also get a free membership for Priority Pass, which offers free access to 1000+
            Priority Pass lounges worldwide.</p>
        </div>
      </div>
    </div>
</section>
<!-- =======================
       card descriptions
  ========================= -->
<section class="py-4" id="citibank_credit_cards">
  <div class="container">
    <div class="">
      <h2 class="fs-2">Best Credit Cards for Expedia.com.hk</h2>
      <div class="mt-3 row justify-content-center px-0 mt-5 border-bottom border-1 pb-4">
        <div class="col-8 col-sm-6 col-md-3 col-lg-2 d-flex flex-column align-items-center">
          <img src="{% static 'img/plaza-premium-lunge-card.webp' %}" class="w-100" alt="card-img">
          <a href="#"
            class="d-inline-block text-primary border border-1 text-decoration-none mt-3 mx-auto text-center border-primary rounded-pill px-3 py-2 small">
            <span class="me-2 more-con">More Details</span>
          </a>
        </div>
        <div class="col-md-9 col-lg-8 mt-4 mt-md-0">
          <div class="d-flex flex-wrap">
            <p class="bg-warning text-dark ex-small  me-2">
              crediboo exclusive
            </p>
            <p class="blue-bg text-dark ex-small ">
              Complimentary 4th night free at any hotel
            </p>
          </div>
          <h2 class="fs-5 text-capitalize text-dark">
            Citi Prestige Card
          </h2>
          <!-- -----------apply-------- -->
          <div class="d-flex flex-wrap align-items-start justify-content-between">
            <div class="col-8 col-md-9 col-xl-10">
              <div class="row">
                <div class="col-6 col-sm-4">
                  <h3 class="fs-5 mb-0 pb-0">HK$600,000</h3>
                  <p class="exx-sm">Minimum Income Requirements</p>
                </div>
                <div class="col-6 col-sm-4">
                  <h3 class="fs-5 mb-0 pb-0">HK$6 = 1 Mile</h3>
                  <p class="exx-sm">Miles Conversion (local spend)</p>
                </div>
                <div class="col-6 col-sm-4">
                  <h3 class="fs-5 mb-0 pb-0">HK$4 = 1 Mile</h3>
                  <p class="exx-sm">Miles Conversion (overseas spend)</p>
                </div>
              </div>
            </div>
            <div class="col-4 col-md-3 col-xl-2 d-flex justify-content-end">
              <button type="submit"
                class="my-btn d-inline-block text-light text-decoration-none fw-bold small text-capitalize btn-bg py-2 px-3 border-0">
                Apply Now
              </button>
            </div>
          </div>
          <!-- --------detail-box-------- -->
          <div class="mt-3 border-start border-warning border-3 card-det-box p-2">
            <div class="row align-items-center">
              <div class="col-md-9 col-lg-10">
                <p class="small">❤️Mother’s Day x 520 Special | 50%Crediboo Store cashback❤️
                  Make your loved ones feel special - plus, EARN CASH BACK! Purchase any designated products via
                  Crediboo Store from 8 May to 20 May, you can earn up to 50% cash back by using a new Citi credit
                  card (Limited quota, first come, first served!). Shop now and save big!
                  <br><br>
                  【Limited Time Offer】Register for designated Citi Credit Cards via Crediboo, upon a spending amount
                  of HK$1,000, you can earn a HK$2,000 SHKP Malls Gift Card / [Newly Added!] HK$1,800 KKday Voucher/
                  HK$1,800 Apple Gift Card/ HK$1,800 Supermarket Voucher!
                  <br><br>
                  【HK$300 Referral Rewards】Refer your friends to apply for designated Citi Credit Cards online and
                  activate the new cards+ with a spending amount of HKD1,000, you can receive an extra HK$300
                  Supermarket Voucher for every successful referral.
                </p>
                <div class="d-flex">
                  <a class="text-primary exx-sm text-decoration-none me-3">Valid until 31 May 2023 </a>
                </div>
              </div>
              <div class="col-5 col-sm-4 col-md-3 col-lg-2 mt-4 mt-md-0">
                <img src="{% static 'img/card-det-img.webp' %}" alt="" class="w-100 rounded-circle">
              </div>
            </div>
          </div>
          <p class="mb-0 pb-0 mt-3 fs-6">Those who hold the Platinum card can enjoy unlimited access to the Centurion
            Lounge with up to 2 family and friends. In addition to unlimited access to the Centurion Lounge, holders
            of the Platinum card also get a free membership for Priority Pass, which offers free access to 1000+
            Priority Pass lounges worldwide.</p>
        </div>
      </div>
    </div>
</section>
<!-- =======================
       things u need to know
  ========================= -->
<section class="py-3 py-md-5">
  <div class="container">
    <div class="row align-items-end">
      <div class="col-md-6">
        <img src="{% static 'img/things-need-to-know.png' %}" alt="" class="w-100">
      </div>
      <div class="col-md-6 mt-4 mt-md-0">
        <h2 class="fs-3 fw-bold mb-3">Things you need to know about airport lounges </h2>
        <div class="my-3">
          <h3 class="fs-5">
            Companion charge
          </h3>
          <p class="mb-0 pb-0">
            You may be able to bring a companion to the lounge subject to charge/spending requirements. It is best to
            check with the credit card issuer before making the lounge visit.
          </p>
        </div>
        <div class="my-3">
          <h3 class="fs-5">
            Restrictions on number of visits
          </h3>
          <p class="mb-0 pb-0">
            In general, high-end cards offer more services and fewer restrictions on the number of lounge visits. It
            is the opposite of credit cards with lower income requirements. Cardholders can confirm with the card
            issuer before traveling.
          </p>
        </div>
        <div class="my-3">
          <h3 class="fs-5">
            Appointments
          </h3>
          <p class="mb-0 pb-0">
            Some credit cards require cardholders to make appointments either on the internet or by phone before
            accessing the lounge while the others require holders to present cards/documents such as receipts, credit
            card and boarding pass, etc in order to enter the lounge.
          </p>
        </div>

      </div>
    </div>
  </div>
</section>
{% endblock %}