{% extends 'base/base.html' %} {% load static %} {% block hero_section %}
{% include 'layout/head_section.html' %}
{% endblock %} {% block content %}

<!-- =======================
         card descriptions
    ========================= -->
{% for loan in loans %}
<section class="py-4">
  <div class="container">
    <div class="">
      <h2 class="fs-2">
        {% if loan.id == 35 %} {{title0}} {% else %} {{title1}} {% endif %}
      </h2>
      <div
        class="mt-3 row justify-content-center px-0 mt-5 border-bottom border-1 pb-4"
      >
        <div
          class="col-8 col-sm-6 col-md-3 col-lg-2 d-flex flex-column align-items-center"
        >
          <img src="{{loan.image}}" class="w-100" alt="card-img" />
          <a
            href="#"
            class="d-inline-block text-primary border border-1 text-decoration-none mt-3 mx-auto text-center border-primary rounded-pill px-3 py-2 small"
          >
            <span class="me-2 more-con">More Details</span>
          </a>
        </div>
        <div class="col-md-9 col-lg-8 mt-4 mt-md-0">
          <div class="d-flex flex-wrap">
            {% if loan.execlusive %}
            <p class="bg-warning text-dark ex-small me-2">
              {{loan.execlusive}}
            </p>
            {% endif %} {% if loan.badge_label %}
            <p class="blue-bg text-dark ex-small">{{loan.badge_label}}</p>
            {% endif %} {% if loan.badge_primary %}
            <p class="blue-bg text-dark ex-small">{{loan.badge_primary}}</p>
            {% endif %}
          </div>
          <h2 class="fs-5 text-capitalize text-dark">{{loan.title}}</h2>
          <!-- -----------apply-------- -->
          <div
            class="d-flex flex-wrap align-items-start justify-content-between"
          >
            <div class="col-8 col-md-9 col-xl-10">
              <div class="row">
                {% for usp in loan.loan_usp.all %}
                <div class="col-6 col-sm-4">
                  <h3 class="fs-5 mb-0 pb-0">{{usp.dd}}</h3>
                  <p class="exx-sm">{{usp.dt}}</p>
                </div>
                {% endfor %}
              </div>
              <div class="col-8 col-md-9 col-xl-10">
                {% if loan.id == 35 %} 
                    {{snippet0}} 
                {% else %} 
                    {{snippet1}} 
                {% endif %}
              </div>
            </div>
            <div class="col-4 col-md-3 col-xl-2 d-flex justify-content-end">
              <a
                role="button"
                href="{{loan.url}}"
                type="submit"
                class="my-btn d-inline-block text-light text-decoration-none fw-bold small text-capitalize btn-bg py-2 px-3 border-0"
              >
                Get Quotes
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endfor %}
<!-- =======================
             txt+img
        ========================= -->
<section class="py-3 py-md-5">
  <div class="container">
    <div class="row align-items-end">
      <div class="col-md-6">
        <img
          src="{% static 'img/things-need-to-know.png' %}"
          alt=""
          class="w-100"
        />
      </div>
      <div class="col-md-6 mt-4 mt-md-0">
        <h2 class="fs-3 fw-bold mb-3">
          How to Apply for Standard Chartered Personal Loan?
        </h2>
        <div class="my-3">
          <h3 class="fs-5">Choose Your Loan Product</h3>
          <p class="mb-0 pb-0">
            Find a suitable loan product that best fits your financial needs.
            Make sure you read the fine print and understand the loan structure.
            Once selected, fill in the application form and submit all the
            required documents.
          </p>
        </div>
        <div class="my-3">
          <h3 class="fs-5">Wait for Your Loan Approval Result</h3>
          <p class="mb-0 pb-0">
            A Standard Chartered Loan Specialist will contact you within one
            working day to finalize the terms of the loan. If the loan is
            eventually approved, you will be required to visit a designated
            branch to go through the loan disbursement process.
          </p>
        </div>
        <div class="my-3">
          <h3 class="fs-5">Disbursement of Your Loan</h3>
          <p class="mb-0 pb-0">
            For a personal installment loan, your loan will be disbursed
            directly into your designated repayment bank account. If you are
            applying for Debt Consolidation Program, in addition to the above
            method, the loan amount may also be disbursed directly to your
            designated credit card/loan accounts, or by issuing and sending
            cashier's order to your residential address.
          </p>
        </div>
      </div>
    </div>
    <!-- ---------text------ -->
    <div class="row mt-5">
      <div class="col-md-4">
        <h3 class="fs-3">Standard Chartered Loan Offers & Promotions</h3>
      </div>
      <div class="col-md-8">
        <p>
          Standard Chartered may offer seasonal promotions for their personal
          loan products. This may include cash coupons, gift vouchers, and/or
          low promotional APR for new customers. These promotions tend to be
          short-term in nature. For example, that low interest rate may only be
          valid for the first few months of the loan. Since a personal loan
          tends to be a fairly long-term financial commitment, such incentives
          should be secondary considerations for someone who is choosing between
          loans. That said, if you have assessed the personal loan and it's
          sound, by all means take advantage of the Standard Chartered offer.
          Just be aware that the bank may decide to claw back the gift if, for
          example, you decide to repay the loan early.
        </p>
      </div>
    </div>
    <!-- ---------card+img------ -->
    <div class="mt-5">
      <div class="row"></div>
      <div class="row mt-4 d-flex justify-content-end justify-content-lg-start">
        <div class="col-lg-8">
          <div class="row">
            <div>
              <h2 class="fs-2">
                Standard Chartered Loan Application Requirements
              </h2>
              <p class="mb-0 pb-0">
                No matter which Standard Chartered personal loan you choose, you
                need to be a Hong Kong resident, at least 20 years old, and have
                a fixed annual income of HK$96,000 or more. If you fulfill these
                criteria, in addition to a copy of your Hong Kong permanent
                identity card, you will also need to submit the following
                documents to Standard Chartered:
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 my-3 col-lg-6 my-lg-2">
              <div class="h-100 bg-white">
                <h3
                  class="text-dark d-block py-1 text-decoration-none fw-md fs-5 m-0 p-0"
                >
                  Proof of income
                </h3>
                <p class="mb-0 pb-0">
                  For employees, Standard Chartered will accept either your
                  latest one month salary payslip or bank statement/passbook
                  showing your name, bank account number, and salary entries.
                  For those who are self-employed, you will need to submit your
                  business registration certificate and latest Tax Demand Note.
                </p>
              </div>
            </div>
            <div class="col-md-6 my-3 col-lg-6 my-lg-2">
              <div class="h-100 bg-white">
                <h3
                  class="text-dark d-block py-1 text-decoration-none fw-md fs-5 m-0 p-0"
                >
                  Residential proof
                </h3>
                <p class="mb-0 pb-0">
                  You also need to submit any kind of document that can prove
                  that the address provided is really yours. It must have your
                  name and address clearly printed on it. You can use a
                  government letter, utility bill, or bank statement issued
                  within the last 3 months.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-8 col-md-6 col-lg-4 my-3 my-lg-2">
          <img src="{% static 'img/vector-1.jpg' %}" class="w-100" alt="" />
        </div>
      </div>
    </div>
    <!-- ----------card-main----- -->
    <div class="mt-5">
      <h2 class="fs-2">Standard Chartered Loan Fees & Charges</h2>
      <p>
        Apart from interest rates, loan limits, tenures, and eligibility
        criteria, another important set of numbers to look at are the hidden
        fees that the bank might charge you in a number of common scenarios.
      </p>
      <div class="row mt-4">
        <div class="col-md-6 my-3 col-lg-4 my-lg-2">
          <h3
            class="text-dark d-block py-1 text-decoration-none fw-md fs-5 m-0 p-0 lh-1"
          >
            Year-Round Offers
          </h3>
          <p class="mb-0 pb-0">
            Enjoy year-round privileges at dining, shopping and travel hotspot
            throughout the year with your credit card. For movie lovers, get
            buy-1-get-1-free on Friday movie tickets at UA Cinemas with UnionPay
            Diamond Credit Cards. Visa Signature cardholders can enjoy up to
            HK$200 off upon designated spending amount at restaurants like
            Limewood and Sip Song.
          </p>
        </div>
        <div class="col-md-6 my-3 col-lg-4 my-lg-2">
          <h3
            class="text-dark d-block py-1 text-decoration-none fw-md fs-5 m-0 p-0 lh-1"
          >
            Free Airport Lounge Access
          </h3>
          <p class="mb-0 pb-0">
            Credit Cards often provide complimentary airport lounge access which
            some might even allow free companions entry. Take AE Platinum Card
            as an example, the principal card owner is entitled to a free
            membership in Priority pass, which allows access to over 1,000
            lounges in the world. Citi Prestige Card cardholders can also get
            access to Mastercard Airport LoungeKey lounges worldwide.
          </p>
        </div>
        <div class="col-md-6 my-3 col-lg-4 my-lg-2">
          <h3
            class="text-dark d-block py-1 text-decoration-none fw-md fs-5 m-0 p-0 lh-1"
          >
            Welcome Gift
          </h3>
          <p class="mb-0 pb-0">
            Welcome offers come in various types including cash rebate, air
            miles, coupons or gifts. Popular gift options including suitcases
            and electronic devices. For example, DBS COMPASS VISA gives you a Le
            Maurice suitcase and WeWa UnionPay Card gives you a Jabra wireless
            headphone as a welcome gift.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
