{% extends 'base/base.html' %}

<body>
  <div class="container">
    <h1 class="fs-3 mt-4">
      Dining
    </h1>
    <div class="row">
      <!-- ---------------------
            left-col 
        ---------------------- -->
      <div class="col-md-8">
        <!-- ------------blog----- -->
        <a href="blog-details.html" class="d-block border-bottom border-1 py-3 text-decoration-none">
          <div class="row">
            <div class="col-sm-4">
              <img src="../img/blog-img.png" class="w-100 h-100" alt="">
            </div>
            <div class="col-sm-8 mt-3 mt-sm-0">
              <h2 class="fs-5 text-dark">Omakase Restaurants in Hong Kong That You Might Find Hard to Reserve</h2>
              <p class="pb-0 mb-0 mt-3 text-dark blog-text">
                Omakase, a style of fine dining originated in Japan, is now prevailing not just in its country of origin
                but all around the world. Omakase restaurants like Yuzu Omakase and Homura Wagyu Omakase from Bangkok
                are as popular as those in Japan, making it hard to reserve. In Hong Kong, you may find the same case
                among the places we recommended below.
              </p>
              <div class="mt-4 text-secondary">29 December 2022</div>
            </div>
          </div>
        </a>
        <a href="blog-details.html" class="d-block border-bottom border-1 py-3 text-decoration-none">
          <div class="row">
            <div class="col-sm-4">
              <img src="../img/blog-img.png" class="w-100 h-100" alt="">
            </div>
            <div class="col-sm-8 mt-3 mt-sm-0">
              <h2 class="fs-5 text-dark">Omakase Restaurants in Hong Kong That You Might Find Hard to Reserve</h2>
              <p class="pb-0 mb-0 mt-3 text-dark blog-text">
                Omakase, a style of fine dining originated in Japan, is now prevailing not just in its country of origin
                but all around the world. Omakase restaurants like Yuzu Omakase and Homura Wagyu Omakase from Bangkok
                are as popular as those in Japan, making it hard to reserve. In Hong Kong, you may find the same case
                among the places we recommended below.
              </p>
              <div class="mt-4 text-secondary">29 December 2022</div>
            </div>
          </div>
        </a>
        <a href="blog-details.html" class="d-block border-bottom border-1 py-3 text-decoration-none">
          <div class="row">
            <div class="col-sm-4">
              <img src="../img/blog-img.png" class="w-100 h-100" alt="">
            </div>
            <div class="col-sm-8 mt-3 mt-sm-0">
              <h2 class="fs-5 text-dark">Omakase Restaurants in Hong Kong That You Might Find Hard to Reserve</h2>
              <p class="pb-0 mb-0 mt-3 text-dark blog-text">
                Omakase, a style of fine dining originated in Japan, is now prevailing not just in its country of origin
                but all around the world. Omakase restaurants like Yuzu Omakase and Homura Wagyu Omakase from Bangkok
                are as popular as those in Japan, making it hard to reserve. In Hong Kong, you may find the same case
                among the places we recommended below.
              </p>
              <div class="mt-4 text-secondary">29 December 2022</div>
            </div>
          </div>
        </a>
        <a href="blog-details.html" class="d-block border-bottom border-1 py-3 text-decoration-none">
          <div class="row">
            <div class="col-sm-4">
              <img src="../img/blog-img.png" class="w-100 h-100" alt="">
            </div>
            <div class="col-sm-8 mt-3 mt-sm-0">
              <h2 class="fs-5 text-dark">Omakase Restaurants in Hong Kong That You Might Find Hard to Reserve</h2>
              <p class="pb-0 mb-0 mt-3 text-dark blog-text">
                Omakase, a style of fine dining originated in Japan, is now prevailing not just in its country of origin
                but all around the world. Omakase restaurants like Yuzu Omakase and Homura Wagyu Omakase from Bangkok
                are as popular as those in Japan, making it hard to reserve. In Hong Kong, you may find the same case
                among the places we recommended below.
              </p>
              <div class="mt-4 text-secondary">29 December 2022</div>
            </div>
          </div>
        </a>
      </div>
      <!-- ---------------------
            right-col 
        ---------------------- -->
      <div class="col-md-4 mt-3 mt-md-0">
        <h2 class="fs-3">Popular Articles</h2>
        <div class="mt-2">
          <a href="blog-details.html" class="d-flex py-3 text-decoration-none text-dark">
            <p class="mb-0 pb-0 color2-text fs-4 me-3 lh-sm fw-md">01</p>
            <p class="mb-0 pb-0 fs-6">WeChat Pay vs. Alipay: Which Payment Apps Do You Need in China?</p>
          </a>
          <a href="blog-details.html" class="d-flex py-3 text-decoration-none text-dark">
            <p class="mb-0 pb-0 color2-text fs-4 me-3 lh-sm fw-md">02</p>
            <p class="mb-0 pb-0 fs-6">
              HKD Fixed Deposit: Comparing New Fund preferential Interest Rates of Citi / Standard Chartered / Bank of
              China</p>
          </a>
          <a href="blog-details.html" class="d-flex py-3 text-decoration-none text-dark">
            <p class="mb-0 pb-0 color2-text fs-4 me-3 lh-sm fw-md">03</p>
            <p class="mb-0 pb-0 fs-6">
              Best Streaming Services Comparison in Hong Kong: Netflix, Disney Plus, hmvod, Apple TV+, Amazon Prime
              Video, HBO GO (2023 May Updated)</p>
          </a>
          <a href="blog-details.html" class="d-flex py-3 text-decoration-none text-dark">
            <p class="mb-0 pb-0 color2-text fs-4 me-3 lh-sm fw-md">04</p>
            <p class="mb-0 pb-0 fs-6">
              Best Music Streaming Services Comparison in Hong Kong: Spotify, KKBOX, Apple Music, MOOV, JOOX, Youtube
              Premium Music, Tidal (Updated May 2023)</p>
          </a>
          <a href="blog-details.html" class="d-flex py-3 text-decoration-none text-dark">
            <p class="mb-0 pb-0 color2-text fs-4 me-3 lh-sm fw-md">05</p>
            <p class="mb-0 pb-0 fs-6">
              How to Open a BOC Greater Bay Area Bank Account That Links with AliPay and WeChat Pay in Hong Kong</p>
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- =======================
         footer
    ========================= -->
  <div id="footer-placeholder"></div>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      fetch('../footer.html')
        .then(response => response.text())
        .then(data => {
          document.getElementById('footer-placeholder').innerHTML = data;
        });
    });
  </script>
  <!-- Bootstrap 5 JS CDN (Optional) -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
  <!-- Custom JS -->
  <script src="../js/main.js"></script>
  <!-- ------slick-js--- -->
  <!-- <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script> -->
  <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
  <script>
    $(function () {
      $("#tabs").tabs();
    });
  </script>
  <script>
    $(document).ready(function () {
      $('.slider').slick({
        autoplay: false,
        arrows: true,
        infinite:false,
        slidesToShow: 4,
        responsive: [
          {
            breakpoint: 1300,
            settings: {
              slidesToShow: 3
            }
          },
          {
            breakpoint: 1000,
            settings: {
              slidesToShow: 2
            }
          },
          {
            breakpoint: 768,
            settings: {
              slidesToShow: 1
            }
          },
        ]
      });
    });

  </script>
</body>

</html>