{% extends 'base/best_card_base.html' %} {% block cards %}

<div class="col-sm-8 col-lg-9 mt-3 mt-sm-0">
  <div class="d-flex flex-wrap justify-content-between align-items-center">
    <p class="mb-0 pb-0" id="data_number" data-my-variable="{{ number }}">We found {{number}} credit cards for you</p>
    <p style="display: none;" id="data_end" data-my-variable="{{ data_end }}"></p>
    <div class="dropdown">
      <button
        type="button"
        class="btn dropdown-toggle py-0 px-0 my-0 rounded-pill fs-6 text-decoration-none text-primary d-block fs-5 text-capitalize"
        data-bs-toggle="dropdown"
      >
        Sort by recommended
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item text-dark" href="#">Recommended</a></li>
      </ul>
    </div>
  </div>
  <!-- ------------------------
                 card-details 
  ------------------------- -->
  {% for card in cards %}
  <div class="mt-3 row border border-1 pt-3 pb-5 px-0 position-relative">
    <div class="col-8 col-sm-6 col-md-4 col-lg-2">
      {% if card.image %}
      <img src="{{card.image}}" class="w-100" alt="card-img" />
      {% endif %}
    </div>
    <div class="col-lg-10 mt-4 mt-lg-0">
      <div class="d-flex flex-wrap">
        {% if card.execlusive %}
        <p class="bg-warning text-dark ex-small me-2">{{card.execlusive}}</p>
        {% endif %} {% if card.badge_label %}
        <p class="blue-bg text-dark ex-small">{{card.badge_label}}</p>
        {% endif %} {% if card.badge_primary %}
        <p class="blue-bg text-dark ex-small">{{card.badge_primary}}</p>
        {% endif %}
      </div>
      <a href="{% url 'cards:detail' card.id %}">
        <h2 class="fs-5 text-capitalize text-dark">{{ card.title }}</h2>
      </a>
      <!-- -----------apply-------- -->
      <div class="d-flex flex-wrap align-items-start justify-content-between">
        <div class="row">
          {% for usp in card.card_usp.all %}
          <div class="col-6 col-sm-4">
            <h3 class="fs-5 mb-0 pb-0">{{usp.dd}}</h3>
            <p class="exx-sm">{{usp.dt}}</p>
          </div>
          {% endfor %}
        </div>
        <a role="button" href="{{card.url}}"
          type="submit"
          class="my-btn d-inline-block text-light text-decoration-none fw-bold small text-capitalize btn-bg py-2 px-3 border-0"
        >
          Apply Now
        </a>
      </div>
      <!-- --------detail-box-------- -->
      {% if card.snippet %}
      <div class="mt-3 border-start border-warning border-3 card-det-box p-2">
        <div class="row align-items-center">
          <div class="col-md-9 col-lg-10">{{ card.snippet|safe }}</div>
          {% if card.snippet_img %}
          <div class="col-5 col-md-3 col-lg-2 mt-4 mt-md-0">
            <img
              src="{{card.snippet_img}}"
              alt=""
              class="w-100 rounded-circle"
            />
          </div>
          {% endif %}
        </div>
      </div>
      {% endif %}
      <!-- ---more-det-btn--- -->
      <div
        class="more-det-btn more-btn2 position-absolute border px-3 py-2 border-1 rounded-pill"
      >
        <div class="d-flex align-items-center">
          <span class="me-2 more-con">More Details</span>
          <span class="me-2 less-con">Less Details</span>
          <i class="fas fa-angle-down"></i>
        </div>
      </div>
      <div class="more-det-content">
        <!-- -------slider---------- -->
        <div id="tabs{{card.id}}" class="tab-container mt-4">
          <ul class="slider">
            <li class="fs-6"><a href="#tabs{{card.id}}-1">Promotions</a></li>
            <li class="fs-6"><a href="#tabs{{card.id}}-2">Key Features</a></li>
            <li class="fs-6">
              <a href="#tabs{{card.id}}-3">Annual Interest Rate and Fees</a>
            </li>
            <li class="fs-6">
              <a href="#tabs{{card.id}}-4">Minimum Income Requirements</a>
            </li>
            <li class="fs-6">
              <a href="#tabs{{card.id}}-5">Card Association</a>
            </li>
            <li class="fs-6">
              <a href="#tabs{{card.id}}-6">Wireless Payment</a>
            </li>
          </ul>
          <!-- -----------------------
                -tab content
            ------------------------ -->
          <div id="tabs{{card.id}}-1" class="tab">
            {{ card.promotion|safe }}
          </div>
          <!-- -----------------------
            -tab content
              ------------------------ -->
          <div id="tabs{{card.id}}-2" class="tab">
            {{ card.keyfeatures|safe }}
          </div>
          <!-- -----------------------
                -tab content
            ------------------------ -->
          <div id="tabs{{card.id}}-3" class="tab">
            {{ card.annualinterest|safe }}
          </div>
          <!-- -----------------------
                  -tab content
            ------------------------ -->
          <div id="tabs{{card.id}}-4" class="tab">
            {{ card.incomeequirement|safe }}
          </div>
          <!-- -----------------------
                  -tab content
            ------------------------ -->
          <div id="tabs{{card.id}}-5" class="tab">
            {{ card.cardassociation|safe }}
          </div>
          <div id="tabs{{card.id}}-6" class="tab">
            {{ card.wirelesspayment|safe }}
          </div>
        </div>
        <!-- ------------card buttons grp------ -->
        <div class="d-sm-flex flex-wrap">
          <div class="d-flex flex-column my-1 justify-content-start me-2 py-2">
            <a
              href="#"
              class="d-block card-btn border border-1 border-primary text-center hov-opacity rounded-2 text-light bg-primary"
            >
              <i class="fas fa-arrow-right small"></i>
            </a>
            <p class="mb-0 text-center pb-0 small text-primary">
              See all card details
            </p>
          </div>
          <div class="d-flex flex-column my-1 justify-content-center me-2 py-2">
            <a
              href="#"
              class="d-block card-btn border border-1 border-primary text-center hov-opacity rounded-2 text-primary"
            >
              <i class="fas fa-file-alt small"></i>
            </a>
            <p class="mb-0 text-center pb-0 small text-primary">T&Cs</p>
          </div>
          <div class="d-flex flex-column my-1 justify-content-center me-2 py-2">
            <a
              href="#"
              class="d-block card-btn border border-1 border-primary text-center hov-opacity rounded-2 text-primary"
            >
              <i class="fas fa-edit small"></i>
            </a>
            <p class="mb-0 text-center pb-0 small text-primary">Claim Form</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
  <!-- ----load-more-btn---- -->
  <div class="mt-4 d-flex justify-content-center">
    <a href="#" id="loadMore_btn" class=" border boder-1 border-dark text-decoration-none text-dark py-2 px-3 rounded-pill">Load more results</a>
  </div>
</div>
{% endblock %}
 {% block table %}
 <section class="py-4 card-tbl">
  <div class="container">
    <h2 class="fs-2">Best Credit Cards in Hong Kong 2023</h2>
    <div class="mt-3 my-shadow">
      <div class="table border-secondary table-responsive">
        <table class="w-100">
          <thead>
            <tr>
              <th class="py-3 px-4">Credit Card</th>
              <th class="py-3 px-4">MINIMUM SALARY</th>
              <th class="py-3 px-4">ANNUAL FEE</th>
            </tr>
          </thead>
          <tbody>
            <tr class="">
              <td class="py-3 px-4"><a class="text-decoration:none" href="#">Standard Chartered Smart Card</a></td>
              <td class="py-3 px-4">HK$96,000</td>
              <td class="py-3 px-4">HK$0</td>
            </tr>
            <tr class="">
              <td class="py-3 px-4"><a class="text-decoration:none" href="#">Standard Chartered Smart Card</a></td>
              <td class="py-3 px-4">HK$96,000</td>
              <td class="py-3 px-4">HK$0</td>
            </tr>
            <tr class="">
              <td class="py-3 px-4"><a class="text-decoration:none" href="#">Standard Chartered Smart Card</a></td>
              <td class="py-3 px-4">HK$96,000</td>
              <td class="py-3 px-4">HK$0</td>
            </tr>
            <tr class="">
              <td class="py-3 px-4"><a class="text-decoration:none" href="#">Standard Chartered Smart Card</a></td>
              <td class="py-3 px-4">HK$96,000</td>
              <td class="py-3 px-4">HK$0</td>
            </tr>
            <tr class="">
              <td class="py-3 px-4"><a class="text-decoration:none" href="#">Standard Chartered Smart Card</a></td>
              <td class="py-3 px-4">HK$96,000</td>
              <td class="py-3 px-4">HK$0</td>
            </tr>
            <tr class="">
              <td class="py-3 px-4"><a class="text-decoration:none" href="#">Standard Chartered Smart Card</a></td>
              <td class="py-3 px-4">HK$96,000</td>
              <td class="py-3 px-4">HK$0</td>
            </tr>
            <tr class="">
              <td class="py-3 px-4"><a class="text-decoration:none" href="#">Standard Chartered Smart Card</a></td>
              <td class="py-3 px-4">HK$96,000</td>
              <td class="py-3 px-4">HK$0</td>
            </tr>
            <tr class="">
              <td class="py-3 px-4"><a class="text-decoration:none" href="#">Standard Chartered Smart Card</a></td>
              <td class="py-3 px-4">HK$96,000</td>
              <td class="py-3 px-4">HK$0</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section> 
<section class="my-4">
  <div class="container">

    <!-- ----------card-main----- -->
    <div class="mt-5">
      <h2 class="fs-2">
        Compare Credit Cards in Hong Kong 2022
      </h2>
      <div class="row mt-4">
        <div class="col-md-6 my-3 col-lg-4 my-lg-2">
          <div class="my-shadow h-100 bg-white py-3 px-4">
            <h3 class="fw-md d-block py-1 fs-2 text-decoration-none color2-text m-0 p-0 lh-1">Air Miles<h3>
                <h3 class="text-dark d-block py-1 text-decoration-none fw-md fs-5 m-0 p-0 lh-1">Miles Credit
                  Cards<h3>
                    <ol class="m-0 p-0 ps-3 fs-6 fw-normal mt-2">
                      <li class="my-2">Standard Chartered Asia Miles Mastercard: HK$4/ mile for dining and online
                        spending </li>
                      <li class="my-2">
                        Citi PremierMiles Card: HK$3/ mile for foreign currency transactions
                      </li>
                      <li class="my-2"> American Express Cathay Pacific Elite Credit Card: HK6/ 1.5 mile for foreign
                        currency spending
                      </li>
                    </ol>
          </div>
        </div>
        <div class="col-md-6 my-3 col-lg-4 my-lg-2">
          <div class="my-shadow h-100 bg-white py-3 px-4">
            <h3 class="fw-md d-block py-1 fs-2 text-decoration-none color2-text m-0 p-0 lh-1">Cashback</h3>
            <h3 class="text-dark d-block py-1 text-decoration-none fw-md fs-5 m-0 p-0 lh-1">Cashback Credit
              Cards</h3>
            <ol class="m-0 p-0 ps-3">
              <li class="my-2">Standard Chartered Simply Cash Visa Card: 2% rebates on foreign currency transactions
              </li>
              <li class="my-2">
                Citi PremierMiles Card: HK$3/ mile for foreign currency transactions
              </li>
              <li class="my-2"> American Express Cathay Pacific Elite Credit Card: HK6/ 1.5 mile for foreign
                currency spending
              </li>
            </ol>
          </div>
        </div>
        <div class="col-md-6 my-3 col-lg-4 my-lg-2">
          <div class="my-shadow h-100 bg-white py-3 px-4">
            <h3 class="fw-md d-block py-1 fs-2 text-decoration-none color2-text m-0 p-0 lh-1">Reward
              Points</h3>
            <h3 class="text-dark d-block py-1 text-decoration-none fw-md fs-5 m-0 p-0 lh-1">Reward Points
              Credit Cards</h3>
            <ol class="m-0 p-0 ps-3">
              <li class="my-2">Citi Rewards Card: 5x points all-year-round at supermarkets, department stores, and
                telecom
                providers
              </li>
              <li class="my-2">
                HSBC Visa Signature Card: Up to 14x “RewardCash” for selected categories
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <!-- ----------card-main----- -->
    <div class="mt-5">
      <h2 class="fs-2">
        Credit Card Promotions
      </h2>
      <div class="row mt-4">
        <div class="col-md-6 my-3 col-lg-4 my-lg-2">
          <h3 class="text-dark d-block py-1 text-decoration-none fw-md fs-5 m-0 p-0 lh-1">Year-Round
            Offers</h3>
          <p class="mb-0 pb-0">
            Enjoy year-round privileges at dining, shopping and travel hotspot throughout the year with your credit
            card. For movie lovers, get buy-1-get-1-free on Friday movie tickets at UA Cinemas with UnionPay Diamond
            Credit Cards. Visa Signature cardholders can enjoy up to HK$200 off upon designated spending amount at
            restaurants like Limewood and Sip Song.
          </p>
        </div>
        <div class="col-md-6 my-3 col-lg-4 my-lg-2">
          <h3 class="text-dark d-block py-1 text-decoration-none fw-md fs-5 m-0 p-0 lh-1">Free Airport
            Lounge Access</h3>
          <p class="mb-0 pb-0">
            Credit Cards often provide complimentary airport lounge access which some might even allow free
            companions entry. Take AE Platinum Card as an example, the principal card owner is entitled to a free
            membership in Priority pass, which allows access to over 1,000 lounges in the world. Citi Prestige Card
            cardholders can also get access to Mastercard Airport LoungeKey lounges worldwide.
          </p>
        </div>
        <div class="col-md-6 my-3 col-lg-4 my-lg-2">
          <h3 class="text-dark d-block py-1 text-decoration-none fw-md fs-5 m-0 p-0 lh-1">Welcome Gift </h3>
          <p class="mb-0 pb-0">
            Welcome offers come in various types including cash rebate, air miles, coupons or gifts. Popular gift
            options including suitcases and electronic devices. For example, DBS COMPASS VISA gives you a Le Maurice
            suitcase and WeWa UnionPay Card gives you a Jabra wireless headphone as a welcome gift.
          </p>
        </div>
      </div>
    </div>
    <!-- ---------text------ -->
    <div class="row mt-5">
      <div class="col-md-4">
        <h3 class="fs-3">What Credit Card is Best?</h3>
      </div>
      <div class="col-md-8">
        <p>There is no absolute for the best credit card, you should choose credit cards based on your spending
          habits. Pick credit cards with different spending categories based on your habits to earn the most
          rewards. For reward point credit cards, you can redeem cash rebates, air miles, coupons, and other gifts,
          giving you higher flexibility. Air miles credit cards are suitable for frequent flyers who would take the
          effort to research on collecting miles. Cashback credit cards are suitable for those who don’t spend a lot
          and want to get rebates directly.</p>
      </div>
    </div>
    <!-- ---------text------ -->
    <div class="row mt-5">
      <div class="col-md-4">
        <h3 class="fs-3">Which is better: Visa or Mastercard credit card?</h3>
      </div>
      <div class="col-md-8">
        <p>Visa and Mastercard credit cards are both globally accepted and offer different perks for members in
          different tiers, the most common types of Visa and Mastercard credit cards include Visa Platinum, Visa
          Signature, Visa Infinite, Titanium & Platinum Mastercard, World Mastercard and World Elite Mastercard.

          <br>Both Visa and Mastercard offer its own network benefits including travel, luxury hotel, dining and
          more when it comes to foreign spending, Mastercard often offers slightly better exchange rate, but for
          everyday card users, there is not much difference between Visa and Mastercard. It is suggested to find the
          right credit card by focusing on each card offer and perks of your choice, and be aware of annual fee,
          cash back, air miles or rewards that you are looking for.
        </p>
      </div>
    </div>
    <!-- ---------text------ -->
    <div class="row mt-5">
      <div class="col-md-4">
        <h3 class="fs-3">How many credit cards can I apply for?</h3>
      </div>
      <div class="col-md-8">
        <p>There is no absolute limit on the number of credit cards you can have. Having more than one credit card
          can allow you to get different credit card offers and benefits for different cards, you can also earn
          various rewards like air miles or cashback on your daily spending.<br>

          However, applying for too many credit cards at a time can hurt your credit score and the chances of credit
          card approval. Even though the damage on credit scores are only temporary, if you are hoping to get a
          mortgage or personal loan in the coming months, it is best to keep your credit report nice and clean.</p>
      </div>
    </div>
    <!-- --------text+img------ -->

    <!-- ----------links-list------- -->
    <div class="row mt-5">
      <h3 class="fs-2">Credit Card Recommendations 2023</h3>
      <p>Which cards suit me the most?<br>
        There's no best credit card that suits everyone. Let's pick a card based on your spending habits!</p>

      <div class="row">
        <div class="col-sm-6">
          <h4 class="fs-5">
            Travel Credit Cards
            <ul class="m-0 p-0 ps-4 mt-2">
              <li><a href="#" class="text-decoration-none fs-6 fs-normal">Best Credit Cards in Hong Kong for Hotel
                  Rewards and Booking Discounts</a></li>
              <li><a href="#" class="text-decoration-none fs-6 fs-normal">Best Avios Credit Cards in Hong Kong</a>
              </li>
              <li><a href="#" class="text-decoration-none fs-6 fs-normal">Best Credit Cards for Airport Lounges in
                  Hong Kong</a></li>
              <li><a href="#" class="text-decoration-none fs-6 fs-normal">Best Credit Cards for Booking Hotels on
                  Agoda </a></li>
            </ul>
          </h4>
        </div>
        <div class="col-sm-6">
          <h4 class="fs-5">
            Types of Credit Cards
            <ul class="m-0 p-0 ps-4 mt-2">
              <li><a href="#" class="text-decoration-none fs-6 fs-normal">Best MasterCard in Hong Kong</a></li>
              <li><a href="#" class="text-decoration-none fs-6 fs-normal">Best Credit Cards for Expats and
                  Foreigners in Hong Kong</a></li>
            </ul>
          </h4>
        </div>
      </div>
    </div>
  </div>
</section>
<section class=" bg-light py-5 my-4">
  <div class="container">
    <p class=" mb-0 pb-0 fs-6">
      <b> Disclaimer:</b> At Crediboo.hk, we strive to keep our information accurate and up to date. This
      information may be different than what you see when you visit a financial institution, service provider or
      specific product’s site. For any discrepancy in product information, please refer to the financial
      institution’s website for the most updated version. All financial products and services are presented
      without warranty. Additionally, this site may be compensated through third party advertisers. However, the
      results of our comparison tools which are not marked as sponsored are always based on objective analysis
      first.
    </p>
  </div>
</section>
{% endblock %}
