{% extends 'base/base.html' %}

{% block table %}
<!-- =======================
         card descriptions
    ========================= -->
<section class="py-4" id="plaza-premium">
    <div class="container">
        <div class="px-0 px-md-5 mx-0 mx-lg-5">

            <div class="mt-3 row justify-content-center px-0 mt-5 border-bottom border-1 pb-4">
                <div class="col-8 col-sm-6 col-md-3 d-flex flex-column align-items-center pe-0 pe-sm-5">
                    {% if card.image %}
                        <img src="{{card.image}}" class="w-100" alt="card-img" />
                    {% endif %}
                    <div class=" mt-4 w-100">
                        <button type="submit"
                            class="my-btn d-block w-100 text-light text-decoration-none fw-bold small text-capitalize btn-bg py-2 px-3 border-0">
                            Apply Now
                        </button>
                    </div>
                    <div class="d-flex justify-content-center ">
                        <a href="../credit-cards/compare-credit-card_best-credit-cards.html"
                        class="text-primary border border-1 text-decoration-none mt-3 mx-auto text-center border-primary rounded-pill px-3 py-2 small">
                        <span class="me-2 more-con">Back to all credit cards</span>
                        </a>
                    </div>
                </div>
                <div class="col-md-9 mt-4 mt-md-0">
                    <div class="d-flex mb-3 flex-wrap align-items-center">
                        <a href="index.html" class="text-dark me-3 text-decoration-none">Home</a>
                        <a href="#" class="text-dark me-3 text-decoration-none" style="pointer-events:none">
                            <i class="fas fa-chevron-right"></i>
                        </a>
                        <a href="#" class="text-dark me-3 text-decoration-none">Credit Cards</a>
                        <a href="#" class="text-dark me-3 text-decoration-none" style="pointer-events:none">
                            <i class="fas fa-chevron-right"></i>
                        </a>
                        <a href="#" class="text-dark me-3 text-decoration-none">Best Credit Cards for Airport
                            Lounges in Hong Kong
                            2023</a>
                    </div>
                    <a href="{% url 'cards:detail' card.id %}">
                        <h2 class="fs-2">{{card.title}}</h2>
                    </a>
                    <div class="d-flex flex-wrap">
                        {% if card.execlusive %}
                        <p class="bg-warning text-dark ex-small me-2">{{card.execlusive}}</p>
                        {% endif %} {% if card.badge_label %}
                        <p class="blue-bg text-dark ex-small">{{card.badge_label}}</p>
                        {% endif %} {% if card.badge_primary %}
                        <p class="blue-bg text-dark ex-small">{{card.badge_primary}}</p>
                        {% endif %}
                    </div>

                    <!-- -----------apply-------- -->
                    <div class="d-flex flex-wrap align-items-start justify-content-between">
                        <div class="col-8 col-md-9 col-xl-10">
                            <div class="row">
                                {% for usp in card.card_usp.all %}
                                <div class="col-6 col-sm-4">
                                    <h3 class="fs-5 mb-0 pb-0">{{usp.dd}}</h3>
                                    <p class="exx-sm">{{usp.dt}}</p>
                                </div>
                                {% endfor %}
                            </div>
                        </div>

                    </div>
                    <!-- --------detail-box-------- -->
                    {% if card.snippet %}
                    <div class="mt-3 border-start border-warning border-3 card-det-box p-2">
                        <div class="row align-items-center">
                        <div class="col-md-9 col-lg-10">{{ card.snippet|safe }}</div>
                        {% if card.snippet_img %}
                        <div class="col-5 col-md-3 col-lg-2 mt-4 mt-md-0">
                            <img
                            src="{{card.snippet_img}}"
                            alt=""
                            class="w-100 rounded-circle"
                            />
                        </div>
                        {% endif %}
                        </div>
                    </div>
                    {% endif %}
                    {{card.promotion|safe}}
                    <div class="d-sm-flex flex-wrap">
                        <div class="d-flex flex-column my-1 justify-content-start me-2 py-2">
                            <a href="#"
                                class="d-block card-btn border border-1 border-primary text-center hov-opacity rounded-2 text-light bg-primary">
                                <i class="fas fa-arrow-right small"></i>
                            </a>
                            <p class="mb-0 text-center pb-0 small text-primary">
                                See all card details
                            </p>
                        </div>
                        <div class="d-flex flex-column my-1 justify-content-center me-2 py-2">
                            <a href="#"
                                class="d-block card-btn border border-1 border-primary text-center hov-opacity rounded-2 text-primary">
                                <i class="fas fa-file-alt small"></i>
                            </a>
                            <p class="mb-0 text-center pb-0 small text-primary">
                                T&Cs
                            </p>
                        </div>
                        <div class="d-flex flex-column my-1 justify-content-center me-2 py-2">
                            <a href="#"
                                class="d-block card-btn border border-1 border-primary text-center hov-opacity rounded-2 text-primary">
                                <i class="fas fa-edit small"></i>
                            </a>
                            <p class="mb-0 text-center pb-0 small text-primary">
                                Claim Form
                            </p>
                        </div>
                    </div>

                    <div class="d-flex flex-wrap justify-content-between mt-4 asked" style="background: #f5f5f5;">
                        <ul class="accordion-list p-0">
                            <li class=" border-bottom border-white border-2 py-2 mt-0">
                                <div class="acc-head">
                                    <h3 class="p-0 fs-6 fw-md">All Details</h3>
                                </div>

                            </li>
                            <li class=" border-bottom border-white border-2 py-2 mt-0">
                                <div class="acc-head">
                                    <h3 class="p-0 fs-6 fw-md"> Key Features</h3>
                                    <div class="acc-icon border-0">
                                        <i class="fas fa-chevron-down text-dark"></i>
                                    </div>
                                </div>
                                {{card.keyfeatures|safe}}
                            </li>

                            <li class="  border-bottom border-white border-2 py-2 mt-0">
                                <div class="acc-head">
                                    <h3 class="p-0 fs-6 fw-md">Best Credit Cards</h3>
                                    <div class="acc-icon border-0">
                                        <i class="fas fa-chevron-down text-dark"></i>
                                    </div>
                                </div>
                                <div class="answer">
                                    <p>Yes. Crediboo partners up with a wide range of banks, loan providers,
                                        insurance companies and
                                        brokerages, offering multiple exclusive limited time offers. You can earn
                                        extra rewards such as Apple
                                        Gift Card, Supermarket vouchers or even Macbook Pro by applying for specific
                                        products through Crediboo.
                                </div>
                            </li>
                            <li class="  border-bottom border-white border-2 py-2 mt-0">
                                <div class="acc-head">
                                    <h3 class="p-0 fs-6 fw-md">Digital Wallets</h3>
                                    <div class="acc-icon border-0">
                                        <i class="fas fa-chevron-down text-dark"></i>
                                    </div>
                                </div>
                                <div class="answer">
                                    <p>Yes. Crediboo partners up with a wide range of banks, loan providers,
                                        insurance companies and
                                        brokerages, offering multiple exclusive limited time offers. You can earn
                                        extra rewards such as Apple
                                        Gift Card, Supermarket vouchers or even Macbook Pro by applying for specific
                                        products through Crediboo.
                                </div>
                            </li>
                            <li class="  border-bottom border-white border-2 py-2 mt-0">
                                <div class="acc-head">
                                    <h3 class="p-0 fs-6 fw-md">Annual Fee Waiver</h3>
                                    <div class="acc-icon border-0">
                                        <i class="fas fa-chevron-down text-dark"></i>
                                    </div>
                                </div>
                                <div class="answer">
                                    <p>Yes. Crediboo partners up with a wide range of banks, loan providers,
                                        insurance companies and
                                        brokerages, offering multiple exclusive limited time offers. You can earn
                                        extra rewards such as Apple
                                        Gift Card, Supermarket vouchers or even Macbook Pro by applying for specific
                                        products through Crediboo.
                                </div>
                            </li>
                            <li class="  border-bottom border-white border-2 py-2 mt-0">
                                <div class="acc-head">
                                    <h3 class="p-0 fs-6 fw-md">Bill Payment</h3>
                                    <div class="acc-icon border-0">
                                        <i class="fas fa-chevron-down text-dark"></i>
                                    </div>
                                </div>
                                <div class="answer">
                                    <p>Yes. Crediboo partners up with a wide range of banks, loan providers,
                                        insurance companies and
                                        brokerages, offering multiple exclusive limited time offers. You can earn
                                        extra rewards such as Apple
                                        Gift Card, Supermarket vouchers or even Macbook Pro by applying for specific
                                        products through Crediboo.
                                </div>
                            </li>
                            <li class="  border-bottom border-white border-2 py-2 mt-0">
                                <div class="acc-head">
                                    <h3 class="p-0 fs-6 fw-md">Welcome Offers</h3>
                                    <div class="acc-icon border-0">
                                        <i class="fas fa-chevron-down text-dark"></i>
                                    </div>
                                </div>
                                <div class="answer">
                                    <p>Yes. Crediboo partners up with a wide range of banks, loan providers,
                                        insurance companies and
                                        brokerages, offering multiple exclusive limited time offers. You can earn
                                        extra rewards such as Apple
                                        Gift Card, Supermarket vouchers or even Macbook Pro by applying for specific
                                        products through Crediboo.
                                </div>
                            </li>
                            <li class="  border-bottom border-white border-2 py-2 mt-0">
                                <div class="acc-head">
                                    <h3 class="p-0 fs-6 fw-md">Overseas Spending</h3>
                                    <div class="acc-icon border-0">
                                        <i class="fas fa-chevron-down text-dark"></i>
                                    </div>
                                </div>
                                <div class="answer">
                                    <p>Yes. Crediboo partners up with a wide range of banks, loan providers,
                                        insurance companies and
                                        brokerages, offering multiple exclusive limited time offers. You can earn
                                        extra rewards such as Apple
                                        Gift Card, Supermarket vouchers or even Macbook Pro by applying for specific
                                        products through Crediboo.
                                </div>
                            </li>
                            <li class="  border-bottom border-white border-2 py-2 mt-0">
                                <div class="acc-head">
                                    <h3 class="p-0 fs-6 fw-md">Cash Back</h3>
                                    <div class="acc-icon border-0">
                                        <i class="fas fa-chevron-down text-dark"></i>
                                    </div>
                                </div>
                                <div class="answer">
                                    <p>Yes. Crediboo partners up with a wide range of banks, loan providers,
                                        insurance companies and
                                        brokerages, offering multiple exclusive limited time offers. You can earn
                                        extra rewards such as Apple
                                        Gift Card, Supermarket vouchers or even Macbook Pro by applying for specific
                                        products through Crediboo.
                                </div>
                            </li>
                        </ul>

                    </div>
                    <p class=" mb-0 pb-0 small mt-3">
                        <b> Disclaimer:</b> At Crediboo.hk, we strive to keep our information accurate and up to
                        date. This
                        information may be different than what you see when you visit a financial institution,
                        service provider or
                        specific product’s site. For any discrepancy in product information, please refer to the
                        financial
                        institution’s website for the most updated version. All financial products and services are
                        presented
                        without warranty. Additionally, this site may be compensated through third party
                        advertisers. However, the
                        results of our comparison tools which are not marked as sponsored are always based on
                        objective analysis
                        first.
                    </p>

                </div>
            </div>
        </div>
</section>

<section>
    <div class="container">
        <div class="row align-items-end">
            <div class="col-md-7">
                <table class="table  mb-0 pb-0 mt-4">
                    <thead>
                        <tr>
                            <th class="text-white border border-dark" style="background:#808080">Features</th>
                            <th class="text-white border border-dark" style="background:#808080">Standard Chartered
                                Smart Card Details
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="border border-dark">Key Highlights
                            </td>
                            <td class="border border-dark">
                                <ul>
                                    <li>
                                        Earn 8% CashBack at Klook with your Smart Card. No registration and minimum
                                        spending required (valid till Mar 31, 2023)
                                    </li>
                                    <li>
                                        5% CashBack at selected merchants, including 759 Store, Circle K Convenience
                                        Store, HKTVmall, Watsons, PARKnSHOP
                                    </li>
                                    No annual fee
                                    <li>
                                    <li>
                                        No foreign exchange fees
                                    </li>
                                    <li>
                                        No cash advance fees
                                    </li>
                                    <li>
                                        Split your bills with 3-month interest-free instalments</li>
                                    </li>
                                </ul>
                            </td>
                        </tr>

                        <tr>
                            <td class="border border-dark">Min. Annual Salary</td>


                            <td class="border border-dark">HK$96,000</td>
                        </tr>
                        <tr>
                            <td class="border border-dark">Annual Fee</td>
                            <td class="border border-dark"> Perpetual Annual Fee Waiver</td>
                        </tr>
                        <tr>
                            <td class="border border-dark">
                                Cash Rebate Rate</td>
                            <td class="border border-dark"> 5%</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-5">
                <img src="../img/things-need-to-know.png" alt="" class="w-100">

            </div>
        </div>

    </div>
</section>

<section>
    <div class="container">
        <!-- ---------text------ -->
        <div class="row mt-5">
            <div class="col-md-4">
                <h3 class="fs-3">What Credit Card is Best?</h3>
            </div>
            <div class="col-md-8">
                <p>There is no absolute for the best credit card, you should choose credit cards based on your
                    spending
                    habits. Pick credit cards with different spending categories based on your habits to earn the
                    most
                    rewards. For reward point credit cards, you can redeem cash rebates, air miles, coupons, and
                    other gifts,
                    giving you higher flexibility. Air miles credit cards are suitable for frequent flyers who would
                    take the
                    effort to research on collecting miles. Cashback credit cards are suitable for those who don’t
                    spend a lot
                    and want to get rebates directly.</p>
            </div>
        </div>
        <!-- ---------text------ -->
        <div class="row mt-5">
            <div class="col-md-4">
                <h3 class="fs-3">Which is better: Visa or Mastercard credit card?</h3>
            </div>
            <div class="col-md-8">
                <p>Visa and Mastercard credit cards are both globally accepted and offer different perks for members
                    in
                    different tiers, the most common types of Visa and Mastercard credit cards include Visa
                    Platinum, Visa
                    Signature, Visa Infinite, Titanium & Platinum Mastercard, World Mastercard and World Elite
                    Mastercard.

                    <br>Both Visa and Mastercard offer its own network benefits including travel, luxury hotel,
                    dining and
                    more when it comes to foreign spending, Mastercard often offers slightly better exchange rate,
                    but for
                    everyday card users, there is not much difference between Visa and Mastercard. It is suggested
                    to find the
                    right credit card by focusing on each card offer and perks of your choice, and be aware of
                    annual fee,
                    cash back, air miles or rewards that you are looking for.
                </p>
            </div>
        </div>
        <!-- ---------text------ -->
        <div class="row mt-5">
            <div class="col-md-4">
                <h3 class="fs-3">How many credit cards can I apply for?</h3>
            </div>
            <div class="col-md-8">
                <p>There is no absolute limit on the number of credit cards you can have. Having more than one
                    credit card
                    can allow you to get different credit card offers and benefits for different cards, you can also
                    earn
                    various rewards like air miles or cashback on your daily spending.<br>

                    However, applying for too many credit cards at a time can hurt your credit score and the chances
                    of credit
                    card approval. Even though the damage on credit scores are only temporary, if you are hoping to
                    get a
                    mortgage or personal loan in the coming months, it is best to keep your credit report nice and
                    clean.</p>
            </div>
            <div class="row mt-5">
                <div class="col-md-4">
                    <h3 class="fs-3">How many credit cards can I apply for?</h3>
                </div>
                <div class="col-md-8">
                    <p>There is no absolute limit on the number of credit cards you can have. Having more than one
                        credit card
                        can allow you to get different credit card offers and benefits for different cards, you can
                        also earn
                        various rewards like air miles or cashback on your daily spending.<br>

                        However, applying for too many credit cards at a time can hurt your credit score and the
                        chances of credit
                        card approval. Even though the damage on credit scores are only temporary, if you are hoping
                        to get a
                        mortgage or personal loan in the coming months, it is best to keep your credit report nice
                        and clean.</p>
                </div>
                <div class="row mt-5">
                    <div class="col-md-4">
                        <h3 class="fs-3">How many credit cards can I apply for?</h3>
                    </div>
                    <div class="col-md-8">
                        <p>There is no absolute limit on the number of credit cards you can have. Having more than
                            one credit card
                            can allow you to get different credit card offers and benefits for different cards, you
                            can also earn
                            various rewards like air miles or cashback on your daily spending.<br>

                            However, applying for too many credit cards at a time can hurt your credit score and the
                            chances of credit
                            card approval. Even though the damage on credit scores are only temporary, if you are
                            hoping to get a
                            mortgage or personal loan in the coming months, it is best to keep your credit report
                            nice and clean.</p>
                    </div>
                </div>
                <!-- --------text+img------ -->


            </div>
</section>

{% endblock %}