{% extends 'base/base.html' %}

{% load static %}

{% block hero_section %}
{% include 'layout/head_section.html' %}
{% endblock %}

{% block content %}
  <!-- =======================
         card descriptions
    ========================= -->
  <section class="py-4" id="platinum-card">
    <div class="container">
      <div class="">
        <h2 class="fs-2">Best Credit Cards for Hilton Hotels</h2>
        <div class="mt-3 row justify-content-center px-0 mt-5 border-bottom border-1 pb-4">
          <div class="col-8 col-sm-6 col-md-3 col-lg-2 d-flex flex-column align-items-center">
            <img src="{{ cards.2.image }}" class="w-100" alt="card-img">
            <a href="#"
              class="d-inline-block text-primary border border-1 text-decoration-none mt-3 mx-auto text-center border-primary rounded-pill px-3 py-2 small">
              <span class="me-2 more-con">More Details</span>
            </a>
          </div>
          <div class="col-md-9 col-lg-8 mt-4 mt-md-0">
            <div class="d-flex flex-wrap">
              <p class="bg-warning text-dark ex-small  me-2">
                {{ cards.2.execlusive }}
              </p>
              <p class="blue-bg text-dark ex-small ">
                {{ cards.2.badge_primary }}
              </p>
            </div>
            <h2 class="fs-5 text-capitalize text-dark">
              {{ cards.2.title }}
            </h2>
            <!-- -----------apply-------- -->
            <div class="d-flex flex-wrap align-items-start justify-content-between">
              <div class="col-8 col-md-9 col-xl-10">
                <div class="row">
                  {% for usp in cards.2.card_usp.all %}
                  <div class="col-6 col-sm-4">
                    <h3 class="fs-5 mb-0 pb-0">{{usp.dd}}</h3>
                    <p class="exx-sm">{{usp.dt}}</p>
                  </div>
                  {% endfor %}
                </div>
              </div>
              <div class="col-4 col-md-3 col-xl-2 d-flex justify-content-end">
                <button type="submit"
                  class="my-btn d-inline-block text-light text-decoration-none fw-bold small text-capitalize btn-bg py-2 px-3 border-0">
                  Apply Now
                </button>
              </div>
            </div>
            <!-- --------detail-box-------- -->
            <div class="mt-3 border-start border-warning border-3 card-det-box p-2">
              <div class="row align-items-center">
                <div class="col-md-9 col-lg-10">
                  {{cards.2.snippet|safe}}
                </div>
                <div class="col-5 col-sm-4 col-md-3 col-lg-2 mt-4 mt-md-0">
                  <img src="{{cards.2.snippet_img}}" alt="" class="w-100 rounded-circle">
                </div>
              </div>
            </div>
            <p class="mb-0 pb-0 mt-3 fs-6">Platinum Card Members can enrol in complimentary Hilton Honors Gold elite status, which offers privileges for booking directly with Hilton. These include room upgrades, free daily continental breakfast, every 5th night free on reward stays, additional Bonus Points, free Wi-Fi, best price guarantee, etc.</p>
          </div>
        </div>
      </div>
  </section>
  <!-- =======================
         card descriptions
    ========================= -->
  <section class="py-4" id="intercontinental_hotels">
    <div class="container">
      <div class="">
        <h2 class="fs-2">Best Credit Cards for InterContinental Hotels Group (IHG)</h2>
        <div class="mt-3 row justify-content-center px-0 mt-5 border-bottom border-1 pb-4">
          <div class="col-8 col-sm-6 col-md-3 col-lg-2 d-flex flex-column align-items-center">
            <img src="{{ cards.1.image }}" class="w-100" alt="card-img">
            <a href="#"
              class="d-inline-block text-primary border border-1 text-decoration-none mt-3 mx-auto text-center border-primary rounded-pill px-3 py-2 small">
              <span class="me-2 more-con">More Details</span>
            </a>
          </div>
          <div class="col-md-9 col-lg-8 mt-4 mt-md-0">
            <div class="d-flex flex-wrap">
              <p class="bg-warning text-dark ex-small  me-2">
                {{ cards.1.execlusive }}
              </p>
              <p class="blue-bg text-dark ex-small ">
                {{ cards.1.badge_primary }}
              </p>
            </div>
            <h2 class="fs-5 text-capitalize text-dark">
              {{ cards.1.title }}
            </h2>
            <!-- -----------apply-------- -->
            <div class="d-flex flex-wrap align-items-start justify-content-between">
              <div class="col-8 col-md-9 col-xl-10">
                <div class="row">
                  {% for usp in cards.1.card_usp.all %}
                  <div class="col-6 col-sm-4">
                    <h3 class="fs-5 mb-0 pb-0">{{usp.dd}}</h3>
                    <p class="exx-sm">{{usp.dt}}</p>
                  </div>
                  {% endfor %}
                </div>
              </div>
              <div class="col-4 col-md-3 col-xl-2 d-flex justify-content-end">
                <button type="submit"
                  class="my-btn d-inline-block text-light text-decoration-none fw-bold small text-capitalize btn-bg py-2 px-3 border-0">
                  Apply Now
                </button>
              </div>
            </div>
            <!-- --------detail-box-------- -->
            <div class="mt-3 border-start border-warning border-3 card-det-box p-2">
              <div class="row align-items-center">
                <div class="col-md-9 col-lg-10">
                  {{cards.1.snippet|safe}}
                </div>
                <div class="col-5 col-sm-4 col-md-3 col-lg-2 mt-4 mt-md-0">
                  <img src="{{cards.1.snippet_img}}" alt="" class="w-100 rounded-circle">
                </div>
              </div>
            </div>
            <p class="mb-0 pb-0 mt-3 fs-6">With Citi PremierMiles Card, cardmembers can earn Points for local and overseas spending. The ratio is HK$8=1 Miles for local spending and up to HK$3 =1 Miles for foreign currency spending.

              Citi PremierMiles Card offers flexibility on mileage redemption. Cardholders can not only redeem mileage of 100 airlines from 12 frequent flyer programs but also redeem hotel stays through IHG Rewards Club.</p>
          </div>
        </div>
      </div>
  </section>
  <!-- =======================
         card descriptions
    ========================= -->
  <section class="py-4" id="marriott_hotels">
    <div class="container">
      <div class="">
        <h2 class="fs-2">Best Credit Cards for Marriott Hotels</h2>
        <div class="mt-3 row justify-content-center px-0 mt-5 border-bottom border-1 pb-4">
          <div class="col-8 col-sm-6 col-md-3 col-lg-2 d-flex flex-column align-items-center">
            <img src="{{ cards.3.image }}" class="w-100" alt="card-img">
            <a href="#"
              class="d-inline-block text-primary border border-1 text-decoration-none mt-3 mx-auto text-center border-primary rounded-pill px-3 py-2 small">
              <span class="me-2 more-con">More Details</span>
            </a>
          </div>
          <div class="col-md-9 col-lg-8 mt-4 mt-md-0">
            <div class="d-flex flex-wrap">
              <p class="bg-warning text-dark ex-small  me-2">
                {{ cards.3.execlusive }}
              </p>
              <p class="blue-bg text-dark ex-small ">
                {{ cards.3.badge_primary }}
              </p>
            </div>
            <h2 class="fs-5 text-capitalize text-dark">
              {{ cards.3.title }}
            </h2>
            <!-- -----------apply-------- -->
            <div class="d-flex flex-wrap align-items-start justify-content-between">
              <div class="col-8 col-md-9 col-xl-10">
                <div class="row">
                  {% for usp in cards.3.card_usp.all %}
                  <div class="col-6 col-sm-4">
                    <h3 class="fs-5 mb-0 pb-0">{{usp.dd}}</h3>
                    <p class="exx-sm">{{usp.dt}}</p>
                  </div>
                  {% endfor %}
                </div>
              </div>
              <div class="col-4 col-md-3 col-xl-2 d-flex justify-content-end">
                <button type="submit"
                  class="my-btn d-inline-block text-light text-decoration-none fw-bold small text-capitalize btn-bg py-2 px-3 border-0">
                  Apply Now
                </button>
              </div>
            </div>
            <!-- --------detail-box-------- -->
            <div class="mt-3 border-start border-warning border-3 card-det-box p-2">
              <div class="row align-items-center">
                <div class="col-md-9 col-lg-10">
                  {{cards.3.snippet|safe}}
                </div>
                <div class="col-5 col-sm-4 col-md-3 col-lg-2 mt-4 mt-md-0">
                  <img src="{{cards.3.snippet_img}}" alt="" class="w-100 rounded-circle">
                </div>
              </div>
            </div>
            <p class="mb-0 pb-0 mt-3 fs-6">American Express Platinum Credit Card rewards cardholders with its Rewards Program. For every HK$1 spend, cardholders may enjoy up to 3 points which can be redeemed as Starpoints for free stays in Marriott Hotels. Every 8000 points are equivalent to 330 Starpoints.</p>            
          </div>
        </div>
      </div>
  </section>
  <!-- =======================
         card descriptions
    ========================= -->
  <section class="py-4" id="citibank_credit_cards">
    <div class="container">
      <div class="">
        <h2 class="fs-2">Best Credit Cards for Expedia.com.hk</h2>
        <div class="mt-3 row justify-content-center px-0 mt-5 border-bottom border-1 pb-4">
          <div class="col-8 col-sm-6 col-md-3 col-lg-2 d-flex flex-column align-items-center">
            <img src="{{ cards.0.image }}" class="w-100" alt="card-img">
            <a href="#"
              class="d-inline-block text-primary border border-1 text-decoration-none mt-3 mx-auto text-center border-primary rounded-pill px-3 py-2 small">
              <span class="me-2 more-con">More Details</span>
            </a>
          </div>
          <div class="col-md-9 col-lg-8 mt-4 mt-md-0">
            <div class="d-flex flex-wrap">
              <p class="bg-warning text-dark ex-small  me-2">
                {{ cards.0.execlusive }}
              </p>
              <p class="blue-bg text-dark ex-small ">
                {{ cards.0.badge_primary }}
              </p>
            </div>
            <h2 class="fs-5 text-capitalize text-dark">
              {{ cards.0.title }}
            </h2>
            <!-- -----------apply-------- -->
            <div class="d-flex flex-wrap align-items-start justify-content-between">
              <div class="col-8 col-md-9 col-xl-10">
                <div class="row">
                  {% for usp in cards.0.card_usp.all %}
                  <div class="col-6 col-sm-4">
                    <h3 class="fs-5 mb-0 pb-0">{{usp.dd}}</h3>
                    <p class="exx-sm">{{usp.dt}}</p>
                  </div>
                  {% endfor %}
                </div>
              </div>
              <div class="col-4 col-md-3 col-xl-2 d-flex justify-content-end">
                <button type="submit"
                  class="my-btn d-inline-block text-light text-decoration-none fw-bold small text-capitalize btn-bg py-2 px-3 border-0">
                  Apply Now
                </button>
              </div>
            </div>
            <!-- --------detail-box-------- -->
            <div class="mt-3 border-start border-warning border-3 card-det-box p-2">
              <div class="row align-items-center">
                <div class="col-md-9 col-lg-10">
                  {{cards.0.snippet|safe}}
                </div>
                <div class="col-5 col-sm-4 col-md-3 col-lg-2 mt-4 mt-md-0">
                  <img src="{{cards.0.snippet_img}}" alt="" class="w-100 rounded-circle">
                </div>
              </div>
            </div>            
          </div>
        </div>
      </div>
  </section>
  <!-- =======================
         things u need to know
    ========================= -->
  <section class="py-3 py-md-5">
    <div class="container">
      <div class="row align-items-end">
        <div class="col-md-6">
          <img src="{% static 'img/things-need-to-know.png' %}" alt="" class="w-100">
        </div>
        <div class="col-md-6 mt-4 mt-md-0">
          <h2 class="fs-3 fw-bold mb-3">Things you need to know about airport lounges </h2>
          <div class="my-3">
            <h3 class="fs-5">
              Companion charge
            </h3>
            <p class="mb-0 pb-0">
              You may be able to bring a companion to the lounge subject to charge/spending requirements. It is best to
              check with the credit card issuer before making the lounge visit.
            </p>
          </div>
          <div class="my-3">
            <h3 class="fs-5">
              Restrictions on number of visits
            </h3>
            <p class="mb-0 pb-0">
              In general, high-end cards offer more services and fewer restrictions on the number of lounge visits. It
              is the opposite of credit cards with lower income requirements. Cardholders can confirm with the card
              issuer before traveling.
            </p>
          </div>
          <div class="my-3">
            <h3 class="fs-5">
              Appointments
            </h3>
            <p class="mb-0 pb-0">
              Some credit cards require cardholders to make appointments either on the internet or by phone before
              accessing the lounge while the others require holders to present cards/documents such as receipts, credit
              card and boarding pass, etc in order to enter the lounge.
            </p>
          </div>

        </div>
      </div>
    </div>
  </section>
 {% endblock %}