{% block sidebar %}
<div class="col-sm-4 col-lg-3">
  <h6 class="text-capitalize fs-6">Refine your results</h6>
  {% if filter_caption != None %}
  <h2 class="mt-3 small">{{filter_caption}}</h2>
  <div>
    <form action="" class="d-flex flex-sm-column flex-wrap">
      {% for filter in filters %}
      <div class="d-flex align-items-start me-2 me-sm-0">
        <input class="me-2 mt-2" id="ass-{{filter.id}}" type="checkbox" />
        <label for="ass-{{filter.id}}">{{filter.name}}</label>
      </div>
      {% endfor %}
      <div class="d-block w-100">
        <button
          type="reset"
          class="text-primary small border-0 bg-transparent px-0 mt-sm-2"
        >
          Reset Filter
        </button>
      </div>
    </form>
  </div>
  {% endif %}
  <h2 class="mt-3 small">{{provider_caption}}</h2>
  <div>
    <form action="" class="d-flex flex-sm-column flex-wrap">
      <div class="d-flex align-items-start me-2 me-sm-0">
        {% if prov|add:"0" == 0 or prov == None %}
        <input
          class="me-2 mt-2 provider"
          name="provider0"
          type="radio"
          id="p0"
          checked
          value="0"
        />
        {% else %}
        <input
          class="me-2 mt-2 provider"
          name="provider0"
          type="radio"
          id="p0"
          value="0"
        />
        {% endif %}
        <label for="p0">All {{provider_caption}}</label>
      </div>
      {% for provider in providers %}
      <div class="d-flex align-items-start me-2 me-sm-0">
        {% if prov|add:"0" == provider.id|add:"0" %}
        <input
          class="me-2 mt-2 provider"
          name="provider{{provider.id}}"
          type="radio"
          checked
          id="p{{provider.id}}"
          value="{{provider.id}}"
        />
        <label for="p{{provider.id}}">{{provider.name}}</label>
        {% else %}
        <input
          class="me-2 mt-2 provider"
          name="provider{{provider.id}}"
          type="radio"
          id="p{{provider.id}}"
          value="{{provider.id}}"
        />
        <label for="p{{provider.id}}">{{provider.name}}</label>
        {% endif %}
      </div>
      {% endfor %}
    </form>
  </div>
</div>
{% endblock %}
